<script id="bootstrap-current-user" type="text/javascript">     
 <% if logged_in? %>  
    window.currentUser = 
    <%= sanitize render( partial: 'api/users/user',
      formats: :json,
      locals: {user: current_user}) %>      
  <% end %>
</script>

<main id='root'>
</main>
