.comment-index{
  background-color: rgba(204,204,204,.2);
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
  text-align: center;
}

.comment-index-background{
  padding-left: 25px;
  background-color: white;
  padding-bottom: 50px;
  border-left: 1px solid grey;
}

.comment-item{
  text-align: left;
  padding: 20px;
  border-bottom: 1px solid #99a7ee;
  border-top: 1px solid #99a7ee;
  font-family: 'Source Sans Pro', sans-serif;

}

.comment-author{
  font-weight: bold;
  margin-bottom: 10px;
}

.track-comments{
  width: 80%;
}

.track-comment-form{
  padding-left: 25px;
  background-color: white;
  border-left: 1px solid grey;
}


.track-comment-form-background{
  background-color: rgba(204,204,204,.2);

}


.track-comment-form-textbox{
  width: 200px;
  height: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}

.annotation-comment-form-textbox{
  width: 200px;
  height: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}

.track-comment-form-textbox:hover{
  box-shadow: #e509ef 0 0 0.3em inset;
}

.annotation-comment-form-textbox:hover{
  box-shadow: #e509ef 0 0 0.3em inset;
}

.track-comment-form-button{
  display:block;
  padding-bottom: 20px;
  height: 30px;
  line-height: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
  border: 2px solid black;
  color: #0ecb27;
  border-color: #0ecb27;
  font-weight: 600;
  font-size: 15px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.annotation-comment-form-button{
  display:block;
  padding-bottom: 20px;
  height: 30px;
  line-height: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
  border: 2px solid black;
  color: #0ecb27;
  border-color: #0ecb27;
  font-weight: 600;
  font-size: 15px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.track-comment-form-button:hover{

  background-color: lightgreen;
  cursor: pointer;
}

.annotation-comment-form-button:hover{

  background-color: lightgreen;
  cursor: pointer;
}

.comment-delete-button{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.comment-delete-button:hover{
  cursor: pointer;
  background-color: yellow;
  font-weight: bold;
  border: 1px solid black;
}
