// Place all the styles related to the Api::Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tracklist{
  margin: auto;
  width: 60%;
  border-top: 4px solid black
}

.track-item{
  display: flex;
  margin: 10px;
  margin-left: 20%;
  font-family: sans-serif;
  border-bottom: 1px solid lightgrey;
  width: 60%;
  justify-content: space-between;
  font-weight: 700;
}

.track-idx-num{
  border: 2px solid black;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.track-idx-artist{
  font-size: 15px;
  font-weight: 400;
}

.track-idx-title{
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.track-header{
  font-weight: bold;
  height: 200px;
  background-color: black;
  font-family: sans-serif;
}

.track-artist{
  color: white;
  font-size: 24px;
  padding-left: 20%;
}

.track-album{
  color: #7d8fe8;
  padding-left: 20%;
}

.album-word{
  color: grey;
}

.track-genre{
  color: #7d8fe8;
  padding-left: 20%;
}

.genre-word{
  color: grey;
}

.track-title{
  padding-top: 3%;
  padding-left: 20%;
  font-size: 38px;
  color: #ffff64;
}

.lyrics{
  border-left: 1px solid grey;
  font-family: sans-serif;
  width: 30%;
  margin-left: 17%;
  margin-bottom: 50px;
}
