// Place all the styles related to the Api::Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tracklist{
  margin: auto;
  width: 80%;
  height: 900px;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  background-color: #f0ead6;
}

.tracks-index{
}

.track-show-page{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: lightgrey;
}

.lyrics-annotation{
  min-height: 800px;
  display: flex;
  background-color: white;
  width: 80%;
  justify-content: space-between;
}

.track-item{
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  display: flex;
  font-family: sans-serif;
  width: 100%;
  justify-content: space-between;
  font-weight: 700;
}

.track-item:hover{
  cursor: pointer;
  background-color: #ffff64;
  border-bottom: 2px solid grey;
}

.track-idx-num{
  border: 2px solid black;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.track-idx-artist{
  font-size: 15px;
  font-weight: 400;
}

.track-idx-title{
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.track-header{
  font-weight: bold;
  height: 220px;
  background-color: black;
  font-family: sans-serif;
  width: 100%;
}

.track-edit-link{
  text-decoration: none;
  color: white;
}

.track-edit-link:hover{
  color: #ffff64;
}

.track-artist{
  color: white;
  font-size: 24px;
  padding-left: 20%;
}

.track-album{
  color: #7d8fe8;
  padding-left: 20%;
}

.album-word{
  color: grey;
}

.track-genre{
  color: #7d8fe8;
  padding-left: 20%;
}

.genre-word{
  color: grey;
}

.track-title{
  padding-top: 3%;
  padding-left: 20%;
  font-size: 38px;
  color: #ffff64;
}

.lyrics{
  padding-left: 25px;
  border-left: 1px solid grey;
  font-family: sans-serif;
  line-height: 25px;
  font-size: 20px;
  padding-bottom: 50px;
  background-color: white;
}

.lyric-text-areas{
  line-height: 1.2;
  display: flex;
  border: none;
  outline: none;
  resize: none;
  font-family: sans-serif;
  font-size: 17px;
  width: 60%;
}

//-----------------------------------------
.track-form{
  padding-left: 14%;
  padding-top: 40px;
  height: 1000px;
  padding-right: 20%;
  background-color: black;
  color: white;
  font-family: sans-serif;
}

.track-form-header{
  font-size: 40px;
  padding-bottom: 20px;
}

.track-form-primary{
  font-size: 18px;
  border-bottom: 1px solid grey;
}

.track-form-inputs{
  color: grey;
  font-weight: 100;
  margin-top: 10px;
  margin-left: 20px;
  list-style-type: none;
}

.form-artist{
  border-radius: 5px;
  width: 400px;
  height: 20px;
  margin-bottom: 20px;
}
.form-title{
  border-radius: 5px;
  width: 400px;
  height: 20px;
  margin-bottom: 20px;
}
.form-lyrics{
  border-radius: 5px;
  width: 400px;
  height: 500px;
  margin-bottom: 20px;
}
.form-album{
  border-radius: 5px;
  width: 400px;
  height: 20px;
  margin-bottom: 20px;
}

.form-submit-button{
  color: white;
  font-size: 15px;
  border-radius: 2px;
  background-color: #262626;
  width: auto;
  font-weight: 300;
}

.genres{
  color: white;
  margin-bottom: 20px;
}

.genres > label{
  margin-right: 25px;
}

.form-submit-button:hover{
  cursor: pointer;
  background-color: grey;
}

.top-songs{
  border-bottom: 2px solid black;
  padding-left: 45%;
  font-size: 35px;
  background-color: black;
  color: white;
  font-weight: 700;
}

.edit-delete-links{
  color: white;
}

.delete-track{
  border: none;
  background-color: black;
  color: white;
  height: 2px;
  font-weight: 700;
  font-size: 16px;
}

.delete-track:hover{
  color: #ffff64;
  cursor: pointer;
}

.lyric-component{
  display: inline;
}

.personal-links{
  display: flex;
  justify-content: center;
  background-color: black;
  font-size: 20px;
}

.linkedin{
  margin-right: 25px;
  color:#ffff64;
}

.github{
  color:#ffff64;
}
