/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

nav{
  text-align: center;
  background-color: #ffff64;
  color: #ffff64;
  font-family: 'Source Sans Pro', sans-serif;
}

.sesh-form{
  margin-top: 10px;
  border: 2px solid black;
  width: 150px;
  padding: 30px;
  margin-left: 45%;
  color: #ffff64;
  background-color: black;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}


.title{
  margin-bottom: 10px;
  font-size: 40px;
  font-family: 'Source Sans Pro', sans-serif;
}

.sesh-links{
  text-shadow: none;
  position: relative;
  background-color: black;
  border: none;
  color: white;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
}

.sesh-links:hover{
  cursor: pointer;
  color: yellow;
}

.lyrical{
  text-decoration: none;
  color: #ffff64;
  font-size: 40px;
  letter-spacing: 5px;
  text-shadow: 4px 4px black;
  font-family: 'Source Sans Pro', sans-serif;

}


.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  margin-top: 10%;
}

.close-x {
  width: 25px;
  text-align: center;
  margin-left: 120px;
  cursor: pointer;
 }
.close-x:hover{
  color: red;
}

.session-button{

  margin-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
  border: 2px solid black;
  background-color: #ffff64;
  font-size: 15px;
}

.session-button:hover{
  background-color: yellow;
  font-weight: bold;

}

.user {
  font-weight: 500;
  text-shadow: none;
  margin-bottom: 20px;
  padding: none;
  color: #ffff64;
  font-size: 20px;
}

.subheader-signedin{
  background-color: black;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.subheader-signedout{
  background-color: black;
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.newsong-sesh-links{
  margin-right: 100px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 300;
}

.new-song-link{
  color: white;
  text-decoration: none;
  text-align: center;
  margin-right: 30px;
  margin-top: 13px;
  font-family: 'Source Sans Pro', sans-serif;
}

.new-song-link:hover{
  color: #ffff64;
}

.cover-image{
  height: 400px;
  background-repeat: no-repeat;
  background: url("https://wallpaperbrowse.com/media/images/Music-Wallpaper-HD-1080p-42.jpg");
  justify-content: center;
  background-position-y: -400px;
}
