/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

nav{
  background-color: #ffff64;
  text-align: right;
  color: #ffff64;
  font-family: sans-serif;
}

.sesh-form{
  margin-top: 10px;
  border: 2px solid black;
  width: 150px;
  padding: 30px;
  margin-left: 45%;
  color: #ffff64;
  background-color: black;
  font-size: 20px;
}


.title{
  margin-bottom: 10px;
  font-size: 40px;
}

.sesh-links{
  text-shadow: none;
  position: relative;
  padding-right: 5px;
  bottom: 20px;
  background-color: #ffff64;
  border: none;
  font-size: 20px;
  border-bottom: 10px solid transparent;
  font-family: sans-serif;
}

.sesh-links:hover{
  border-bottom: 10px solid red;
  cursor: pointer;
}

.lyrical{
  text-decoration: none;
  color: #ffff64;
  margin-right: 45%;
  font-size: 40px;
  letter-spacing: 5px;
  text-shadow: 4px 4px black;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  margin-top: 10%;
}

.close-x {
  text-align: right;
  cursor: pointer;
 }

.user {
  font-weight: 700;
  text-shadow: none;
  margin-bottom: 20px;
  padding: none;
  color: black;
  font-size: 20px;
}
